body {
  background-color: black;
  text-align: center;
}

h2 {
  color: goldenrod;
}

.aqua {
color: aquamarine;
background-color: blue;
}

.button {
  background-color: rgb(241, 206, 5);
}

.act {
  background-color: rgb(2, 184, 2);
}